.category_nav {
  display: flex;
  align-items: center;
  gap: 32px; /* 메뉴 항목 간격 */
  list-style: none;
  margin: 0;
}

.categoryButton {
  background-color: transparent;
  text-decoration: none;
  font-size: 20px; /* 시안 메뉴 폰트 크기 */
  transition: color 0.3s ease;
  font-weight: bold;
  color: white;
}

.categoryButton:hover {
  border: none;
  color: #b8aed6;
}

.search_bar_button {
  background: none;
  border: none;
  cursor: pointer;
  color: white; /* 필요에 따라 */
  font-size: 1.2rem;
  padding: 0.5em;
}
