/* src/pages/EventDetailPage.module.css */
.container {
  min-height: 100vh;
  padding: 2rem;
  background: #332c3b;
  color: #ffffff;
   font-family: 'Pretendard', system-ui, sans-serif;
}
.backButton {
  margin-bottom: 1rem;
  background: transparent;
  border: none;
  color: #bbb;
  cursor: pointer;
}
.backButton:hover{
  color: #b8aed6;
}
.backButton:focus{
  outline: none;
}

.title {
  font-size: 40px;
  margin-bottom: 50px;
  margin-left: 50px;
  margin-top: 60px;
}
.date {
  color: #888;
  margin-bottom: 1rem;
}
.thumbnail {
  width: 100%;
  border-radius: 4px;
  margin-bottom: 1rem;
}
.content {
  white-space: pre-wrap;
  line-height: 1.6;
  color: #ddd;
  margin-left: 50px;
}
