/* src/components/Home/EventBoard.module.css */
.container {
  background: #332c3b;
  color: #fff;
  margin-left: 110px;
  font-family: 'Pretendard', system-ui, sans-serif;
  margin-top: 100px;
  margin-bottom: 100px;
}

.header {
  font-size: 50px;
  cursor: pointer;
}

.list {
  list-style: none;
  padding: 0;
}

.listItem {
  display: flex;               /* flex 컨테이너 */
  justify-content: space-between; /* 좌우 끝 정렬 */
  align-items: center;         /* 수직 가운데 정렬 */
  padding: 1rem 0;             /* 상하 여백 */
  border-bottom: 1px solid #585858;
  cursor: pointer;
  width: 920px;                /* 필요하다면 max-width로 변경 가능 */
}


.eventTitle{
  font-size: 20px;
  color: #fff;
 
}
.eventTitle:hover{
  color: #b8aed6;
}
.date {
  color: #8b8b8b;
  font-size: 0.9rem;
}
