@import url("https://cdn.jsdelivr.net/npm/pretendard/dist/web/static/pretendard.css");

html,
body {
  margin: 0;
  padding: 0;
}

/* ── 최상위 Nav ── */
.top-nav {
  position: relative; /* 메뉴를 절대 위치시킬 기준 */
  display: flex;
  align-items: center;
  height: 146px;
  width: 100%;
  padding: 0 40px;
  box-sizing: border-box;
  background: radial-gradient(circle at center, #373040 0%, #6f637d 100%);
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.3);
  color: white;
  font-family: "Pretendard", system-ui, sans-serif;
  font-weight: 600;
  font-size: 16px;
  overflow: visible;
}

/* ── 좌측 로고 ── */
.top-nav-logo {
  width: 60px;
  height: 60px;
  object-fit: contain;
  margin: 0;
  margin-top: 70px;
  margin-left: 110px;
  margin-bottom: 24px;
  transition: filter 250ms ease;
}
.top-nav-logo:hover {
  filter: hue-rotate(13deg) brightness(1) saturate(0.3)
    drop-shadow(0 0 6px #d8a39d);
}

/* ── 중앙 메뉴 ── */
.menu-list {
  position: absolute;
  top: 75px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  gap: 60px;
  list-style: none;
  margin: 0;
  padding: 0;
}
.top-nav-right {
  flex: 1; /* 남은 공간을 몽땅 차지 */
  display: flex;
  justify-content: center;
}
.menu-list a {
  font-size: 25px;
  font-weight: bold;
}

.auth-links {
  position: absolute;
  top: 16px;
  right: 46px;
  display: flex;
  gap: 13px;
  font-size: 14px;
  margin-right: 120px;
}
.auth-links a {
  color: white;
  text-decoration: none;
  transition: color 0.3s ease;
}
.auth-links a:hover {
  color: #b8aed6;
}
.nav-divider {
  position: absolute;
  top: 40px;
  left: 0;
  width: 100%;
  border: none;
  height: 1px;
  background: #716b83;
}
.top-nav .searchbar.visible {
  opacity: 1;
  visibility: visible;
}
