.arrowPrev {
  position: absolute;
  left: 20px;
  top: 50%;
  transform: translateY(-50%);
  background: none;
  border: none;
  cursor: pointer;
  padding: 4px;
  z-index: 10;
}  
.arrowIcon {
	width: 74px;
	height: 127px;
}

.arrowPrev {
	left: 20px;
}

.arrowNext {
  right: 50px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: none;
  border: none;
  cursor: pointer;
  padding: 4px;
  z-index: 10;
  
}

.flipX {
	transform: scaleX(-1);
}

.arrowIcon:hover {
	opacity: 0.7;
}

.slider-container {
	position: relative;
	width: 1920px;
	max-width: 1920px;
	height: 1080px;
	margin: 0 auto;
	overflow: hidden;
	aspect-ratio: 16 / 9;
	margin-left: 0;
}

.slider-wrapper {
	display: flex; /* ✱ 반드시 flex */

	height: 100%;
	transition: transform 0.5s;
}

.slide {
	/* 한 슬라이드는 컨테이너 100% 너비 */
	height: 100%;
	flex-shrink: 0; /* 축소되지 않도록 */
	overflow: hidden;
	flex: 0 0 100%;
}

.slide img {
	display: block;
	width: 100%;
	height: 100%;
	object-fit: contain; /* 모든 이미지가 잘리지 않고 컨테이너 안에 꽉 차도록 */
}
