.section {
  padding: 40px 0;
  background: #332c3b;
  width: 1920px !important;
  text-align: center;
  font-family: 'Pretendard', system-ui, sans-serif;
}
.title {
  color: white;
  font-size: 50px;
  font-family: 'Pretendard', system-ui, sans-serif;
  margin: 0;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  padding-left: 110px;
  text-align: left;
  margin-top: 90px;
}
.star {
  margin-left: 8px;
}
.status {
  text-align: center;
  color: #c2c2c2;
  padding: 10px;
  margin-top: 100px;

}
.sliderWrap {
  overflow-x: auto;
  padding: 0 20px;
}
.cardList {
  display: flex;
  gap: 20px;
}
.card {
  flex: 0 0 320px;
  background: white;
  border-radius: 12px;
  padding: 16px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.cardHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nickname {
  font-weight: bold;
}
.stars {
  display: flex;
  gap: 4px;
}
.text {
  margin: 12px 0;
  color: #555;
}
.cardFooter {
  text-align: right;
}
.detailLink {
  text-decoration: none;
  color: #333;
}
.more {
  text-align: center;
  margin-top: 20px;
}
.moreButton {
  background: #806cbb;
  border: none;
  color: #fff;
  padding: 8px 16px;
  border-radius: 20px;
  cursor: pointer;
}

.moreButton:hover{
    background: #765ebe;
}