.NoticeTitle{
    
	color: white;
	font-size: 50px;
	font-family: 'Pretendard', system-ui, sans-serif;
	margin: 0;
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
	padding-left: 110px;
	text-align: left;
	margin-top: 90px;
	

.container {
  padding: 1rem;
  background: #fff;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

}


.waitNotice{
	font-size: 16px;
}
.NoticeBoard{
	background-color: #332C3B;
	width: 1920px;
	
}

.NoticeUl{
	 list-style: none;
	 padding: 0;
	 margin: 0;
	 font-family: 'Pretendard', system-ui, sans-serif;
}

.NoticeLi{
	margin-top: 30px ;
	padding: 20px;
    border-bottom: 1px solid #9c9c9c;
     cursor: pointer;
     display: flex;
    align-items: center;
	 margin-left: 110px;
	width: 920px;
	
	
}

.NoticeSpan{
	 flex: 1;
	 color: #b4b4b4; 
	 font-size: 16px;
	 gap: 10px;
	 font-weight: bold;
}


.NoticeSpanTitle{
	 flex: 1;
	 color: #b4b4b4;
	 font-size: 16px;
	 text-align: left;
	 font-weight: bold;

}


.NoticeSpanTitle:hover{
	 flex: 1;
	 color: #d3c7f7; 
	 font-size: 16px;
}

.Selected{
	 margin-top: 50px;
     padding: 50px;
     background-color: #ffffff;
     border-radius: 70px;
     box-shadow: 0 1px 3px rgba(0,0,0,0.1);
	display: flex;
	width: 920px;
	margin-left: 110px;
	font-size: 16px;
	font-family: 'Pretendard', system-ui, sans-serif;
	align-items: center;
	text-align: center;
}
.SelectedTitle{
	 margin:0;
	 font-size: 20px;
	 color: #444;
	 
}

.SelectedContent{
	 white-space: pre-wrap;
	  color: #444;
	  margin: auto; 
	  font-weight:normal;
}
.SelectedButton{
	  margin-top: 0.75rem;
     padding: 0.5rem 1rem;
     border: none;
     border-radius: 30px;
     background-color: #e63946;
      color: #fff;
     cursor: pointer;
}

.SelectedButton:hover{
	background-color: #bd1c29;
}
