.header {
  background-size: cover;
  background-position: center;
  padding: 60px 20px;
  color: white;
}

.overlay {
  background-color: rgba(0, 0, 0, 0.6);
  display: flex;
  gap: 24px;
  padding: 20px;
}

.poster {
  width: 200px;
  border-radius: 10px;
  box-shadow: 0 0 10px black;
}

.info {
  max-width: 600px;
}
